.app.dark{
  --bg-color: #050554;
  --inverted-bg-color: #dbdbe5;

  --primary-color: #08af08;
  --secondary-color: #40fc40;
  --inverted-primary-color: #031e73;
  --inverted-secondary-color: #2163e0;
}