/* .app_dark_theme {
  --bg-color: #050554;
  --inverted-bg-color: #dbdbe5;
  --primary-color: #3be53b;
  --secondary-color: #08af08;
  --inverted-primary-color: #2163e0;
  --inverted-secondary-color: #031e73;
} */
.app_dark_theme {
  --bg-color: #08011f;
  --inverted-bg-color: #f6f4fb;
  --primary-color: #66fcf1;
  --secondary-color: #35968f;
  --inverted-primary-color: #3500d3;
  --inverted-secondary-color: #240090;
  --skeleton-color: #35968f;
  --skeleton-shadow: #66fcf1;
}
