.app.light {
    --bg-color: #dbdbe5;
    --inverted-bg-color: #050554;
    --primary-color: #2163e0;
    --secondary-color: #031e73;
    --inverted-primary-color: #40fc40;
    --inverted-secondary-color: #08af08;
}
