.app.light{
  --bg-color: #dbdbe5;
  --inverted-bg-color: #050554;

  --primary-color: #031e73;
  --secondary-color: #2163e0;
  --inverted-primary-color: #08af08;
  --inverted-secondary-color: #40fc40;
}