.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
  box-shadow: 0 2px 10px var(--primary-color);
}

.loading,
.error {
  height: 300px;
}

.editing {
  border: 2px solid var(--primary-color);
  box-shadow: 0 2px 10px var(--primary-color) inset;
}
